<launch>

    <node name="cameleon_ros_driver" pkg="cameleon_ros_driver" type="cameleon_ros_driver" output="screen" >
    <rosparam file="$(find cameleon_ros_driver)/etc/default.yaml" />
    </node>
    

<!-- Cameleon Joystick Handler Node-->
     <node pkg="cameleon_teleop" type="cameleon_teleop" name="cameleon_teleop">
     <remap from="/cameleon/cmd_vel" to="/cmd_vel" />
     </node>

    <!-- Joystick node -->
     <node pkg="joy" type="joy_node" name="joy_node" >
      <param name="dev" type="string" value="/dev/input/js0" />
      <param name="deadzone" value="0.12" />
 </node>
 
   <!-- Axes -->
   <param name="axis_linear" value="1" type="int"/>
   <param name="axis_angular" value="0" type="int"/>
   <param name="scale_linear" value="1" type="double"/>
   <param name="scale_angular" value="1" type="double"/>
 

<!-- Feature Node-->
  <node pkg="stroll_bearnav" type="feature_extraction_node" name="feature_extraction_node"/>
<!-- Mapper node -->
  <node pkg="stroll_bearnav" type="mapper_node" name="mapper_node" output="screen" >
	<param name="filename" type="string" value="" />
</node>
     
<!-- Distance Measurement Node -->
  <node pkg="stroll_bearnav" type="distance_measurement_node" name="distance_measurement_node">
	
  </node>
  
</launch>
