<launch>

<!-- action and reconfigure clients to control the system -->
<node pkg="actionlib" type="axclient.py" args="/mapper" name="Action_client_mapper"/>
<node pkg="rqt_reconfigure" type="rqt_reconfigure" name="Reconfigurator"/>

<!-- image view to check video stream-->
<node pkg="image_view" type="image_view" name="Image_viewer">
  <param name="~image_transport" value="compressed" />
  <remap from="image" to="/image_with_features"/>
  <param name="autosize" value="false" />
</node>

<node pkg="stroll_bearnav" type="gui_setup.sh" name="Configure_gui" output="screen"/>

</launch>
